.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
  background: #000000b9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.main-nav div ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav div ul li {
  padding: 1rem 1.5rem;
}
.main-nav div ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px transparent solid;
  width: 100%;
  display: block;
  padding-bottom: 0.4rem;
  transition: border-color 0.3s;
  cursor: pointer;
}
.main-nav div ul li a a {
  border: none;
}
.main-nav div ul li button {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  background-color: #00000000;
  text-transform: uppercase;
  border-bottom: 1px transparent solid;
  width: 100%;
  display: block;
  padding-bottom: 0.4rem;
  transition: border-color 0.3s;
  cursor: pointer;
}
.main-nav div ul li button.dropdown-item a {
  color: #000;
}
.main-nav div ul li button.dropdown-item:active {
  background: #fff;
}
.main-nav div ul li button.dropdown-toggle.btn.btn-secondary {
  background: none;
  border-color: rgba(0, 0, 0, 0);
}
.main-nav div ul li button:active {
  background-color: #000000;
  color: #000;
}
.main-nav div ul li a:hover {
  color: #fff;
}
.main-nav a:hover {
  border-color: var(--primary-color);
}
.main-nav div ul li button:hover,
.main-nav div ul li button:active,
.main-nav div ul li button:focus {
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}
.dropdown-item,
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  border: none !important;
}
.main-nav .text-nav-right {
  color: var(--primary-color);
}
.navbar {
  padding: 0.2rem 5rem;
}
.navbar-brand {
  padding: 0 1rem 0 1rem;
  margin-left: 5%;
}
.navbar-logo {
  height: 40px;
  width: auto;
}
.main-nav div ul li {
  padding: 0.5rem 1.5rem;
}
.main-nav div ul li a {
  padding: 0.3rem;
}
.navbar-toggler {
  margin-right: 1rem;
}
.navbar-right-push {
  content: '';
  margin-right: 5%;
}
