.process-background {
  background: rgba(252, 241, 252, 0.96);
  padding: 5rem 10rem;
}

.process-bottom-line {
  height: 2px;
  width: 8rem;
  background: var(--primary-color);
  display: block;
  margin: 1rem auto;
  margin-bottom: 2.5rem;
}

.process-outer-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.process-inner-grid p {
  padding-right: 9rem;
}

.process-picture {
  height: 250px;
  border-radius: 50%;
}

.video {
  margin-top: 4%;
}

.process-picture-vertical {
  width: 45%;
  margin: 1% 0 3% 0;
}

.process-picture-landscape {
  width: 75%;
  margin: 2% 0 4% 0;
}
